<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NetWatch.Properties.Settings>
            <setting name="watch_url" serializeAs="Xml">
              <!--访问网址列表，请以http开头 -->
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.baidu.com</string>
                        <string>http://weibo.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="wait_second" serializeAs="String"><!--访问每个网址之间等待的秒数 -->
                <value>3</value>
            </setting>
        </NetWatch.Properties.Settings>
    </applicationSettings>
</configuration>